/* Estilo general del cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #c3c4c9;
}

/* Estilo del encabezado */
header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5582bd;
    padding: 1rem; /* Reducir el espacio de padding */
    position: relative;
}

.iconoHome {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente los elementos */
    text-decoration: none; /* Asegura que el texto no tenga subrayado */
    color: white; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente del texto */
}

.iconoHome span {
    padding-top: 5px;
    color: #dfdada;
}

.tituloHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 1rem; /* Reducir el tamaño del texto del título */
    margin-right: 43.75px;
}

.tituloHeader img {
    width: 100px;
    height: auto; /* Establecer la altura de la imagen al 100% del contenedor */
    margin: 0;
}

/* Estilo del contenedor de contenido principal */
.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem;
}

/* Estilo de las tarjetas */
.tarjeta {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: rgb(219, 202, 202);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    height: 200px;
    margin: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 0.5px solid rgb(131, 127, 127); /* Agrega un borde de 1px sólido negro */
}

.tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo de la imagen dentro de la tarjeta */
.img-tarjeta {
    flex: 1 1 40%;
    overflow: hidden;
}

.img-tarjeta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilo de los detalles de la tarjeta */
.detalles-tarjeta {
    flex: 1 1 60%;
    padding: 1rem;
    position: relative;
    font-size: 13px;
    height: auto;
    color: #333;
}

.detalles-tarjeta h2 {
    margin-top: 0;
    color: #333;
}

.detalles-tarjeta h6,
.detalles-tarjeta p:last-of-type {
    color: black;
    text-align: right;
}

.detalles-tarjeta p {
    color: #666;
    line-height: 1.5;
}

/* Estilo de la lista de redes sociales */
.redes-sociales {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Centra los elementos horizontalmente */
}

.redes-sociales li {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.redes-sociales li a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
}

.redes-sociales li i {
    font-size: 24px;
    margin-bottom: 5px;
}

.redes-sociales li span {
    font-size: 12px;
    color: white;
}

/* Colores específicos para los íconos sociales */
.redes-sociales li:nth-child(1) i {
    color: green;
}

.redes-sociales li:nth-child(2) i {
    color: red;
}

.redes-sociales li:nth-child(3) i {
    color: green;
}

.redes-sociales li:nth-child(4) i {
    color: blue;
}

/* Estilo del pie de página */
footer {
    text-align: center;
    background-color: #5582bd;
    bottom: 0;
    width: 100%;
}

/* Media Queries para diferentes dispositivos */

/* Dispositivos pequeños (menos de 600px) */
@media (max-width: 599px) {
    .contenido {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .tarjeta {
        max-width: 100%;
        margin: 0.5rem 0;
        height: auto;
    }

    .img-tarjeta img {
        height: auto;
    }

    .detalles-tarjeta {
        padding: 1rem;
    }

    .iconoHome {
        font-size: 18px;
    }
    
    .iconoHome span {
        font-size: 14px;
    }

    .tituloHeader {
        text-align: center;
        margin-left: 0;
        padding-right: 0;
    }
}

/* Dispositivos medianos (600px a 1199px) */
@media (min-width: 600px) and (max-width: 1199px) {
    .contenido {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .tarjeta {
        max-width: 45%;
        margin: 1rem;
    }
}

/* Dispositivos grandes (1200px en adelante) */
@media (min-width: 1200px) {
    .contenido,
    .tarjeta {
        justify-content: space-evenly;
    }

    .tarjeta {
        max-width: 45%;
        margin: 1rem;
    }
}
