/* Ajustes para el cuerpo */
body {
    font-size: 16px; /* Aumenta ligeramente el tamaño de la fuente para mejor legibilidad */
    flex: 1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% de la altura de la ventana */
    overflow-x: hidden; /* Oculta cualquier contenido desbordante horizontalmente */
    box-sizing: border-box;
}

/* Asegura que todos los elementos utilicen box-sizing: border-box */
*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Estilo del encabezado */
header {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; 
}

header, footer {
    background-color: rgb(0, 77, 64);
}

.iconoHome {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente los elementos */
    text-decoration: none; /* Asegura que el texto no tenga subrayado */
    color: rgb(211, 195, 185); /* Color del texto */
    font-size: 22px; /* Tamaño de fuente del texto */
    padding-left: 10px;
}

.iconoHome span {
    padding-top: 5px;
    color: rgb(211, 195, 185);
    font-size: 18px;
}

.tituloHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-right: 43.75px;
}

.tituloHeader img {
    width: 100px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.carrousel {
    width: 100%;
}

.conteCarrousel {
    width: 100%;
    overflow: hidden;
}

.itemCarrousel {
    position: relative;
    width: 100%;
    height: 100%;
    padding-inline: 20px;
}

.itemCarrouselTarjeta {
    width: 100%;
    height: 100%;
}

.itemCarrouselArrows {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    pointer-events: none;
    z-index: 1;
}

.itemCarrouselArrows > a {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
}

.itemCarrouselArrows > a > i {
    color: white;
    font-size: 3.5em;
}

.itemCarrouselArrows > a > i:hover {
    cursor: pointer;
    color: #ffd700;
}

.conteCarrouselController {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.conteCarrouselController > a {
    text-decoration: none;
    font-size: 2.5em;
    color: grey;
}

.cabeza {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.info {
    flex: 1;
    justify-content: center;
}

.info button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: dodgerblue;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:106.595px;
}

.contenidoDetalles {
    padding-inline: 20px;
    width: 100%;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.opcionesReservar {
    padding-bottom: 10px;
}

.opcionesReservar h3 {
    margin-bottom: 1rem; /* Añade un margen inferior */
}

.opcionReserva2,
.opcionReserva3 {
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: space-between;
    padding: 0.5rem 1rem; /* Ajusta el padding según sea necesario */
    border: 1px solid #ccc; /* Opcional: para visualización */
    margin: 0.5rem 0; /* Espacio entre las opciones de reserva */
}

.opcionReserva2 p,
.opcionReserva3 p {
    margin-right: 5px; /* Elimina el margen por defecto */
    flex: 1; /* Ocupa todo el espacio disponible a la izquierda */
}

.opcionReserva2 form,
.opcionReserva3 form {
    margin: 0; /* Elimina el margen por defecto */
    flex-shrink: 0; /* Evita que el formulario se reduzca */
}

.opcionReserva2 button,
.opcionReserva3 button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.opcionReserva2 button:hover,
.opcionReserva3 button:hover {
    background-color: #0056b3;
}

.conteServicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.servicio {
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.icono {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.servicio span {
    font-size: 14px;
}

.ubicacion {
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
    margin-bottom: 10px;
}

.mapa {
    width: 40%;
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: center;
    flex-shrink: 0;
}

.mapa a {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapa img {
    width: 50px;
    margin-right: 5px;
}

/* Ajustes para el pie de página */
footer {
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    margin-top: auto;
}

/* Estilo de la lista de redes sociales */
.redes-sociales {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    white-space: nowrap; /* Evita el salto de línea en los elementos */
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
}

.redes-sociales li {
    margin-top: 15px;
}

/* Ajustes para el primer y último elemento */
.redes-sociales li:first-child {
    margin-left: 10px; /* Margen izquierdo más pequeño para el primer elemento */
}

.redes-sociales li:last-child {
    margin-right: 10px; /* Margen derecho más pequeño para el último elemento */
}

.redes-sociales li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redes-sociales li i {
    font-size: 26px;
    margin-bottom: 5px;
}

.redes-sociales li span {
    font-size: 18px;
    color: rgb(211, 195, 185);
}

/* Colores específicos para los íconos sociales */
.redes-sociales li:nth-child(1) i {
    color: green;
}

.redes-sociales li:nth-child(2) i {
    color: red;
}

.redes-sociales li:nth-child(3) i {
    color: green;
}

.redes-sociales li:nth-child(4) i {
    color: blue;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 599px) {

    .conteCarrousel {
        height: 200px;
    }

    .itemCarrousel {
        font-size: 8px;
    }

    .conteCarrouselController > a {
        font-size: 1.5em;
    }

    .itemCarrouselArrows i {
        font-size: 1.5em;
    }

    .btnReservar button {
        padding: 5px 10px; /* Ajusta el relleno del botón según sea necesario */
        background-color: dodgerblue;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

}

/* Media queries para pantallas medianas y grandes */
@media (min-width: 600px) and (max-width: 1400px) {

    body{
        font-size: 22px;
    }

    /* Estilos para el texto del servicio */
    .servicio span {
        font-size: 22px; /* Aumento del tamaño de la letra */
    }

    .conteCarrousel {
        margin-top: 20px;
        height: 500px; /* Ajusta la altura del carrusel */
    }

    .conteCarrouselController > a {
        font-size: 2em; /* Ajusta el tamaño de los controladores */
    }

    .itemCarrouselArrows i {
        font-size: 2em; /* Ajusta el tamaño de las flechas */
    }

    .btnReservar button {
        padding: 5px 10px; /* Ajusta el relleno del botón según sea necesario */
        background-color: dodgerblue;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .opcionReserva2 button.opcion1,
    .opcionReserva3 button.opcion2 {
        font-size: 18px; /* Aumenta el tamaño del texto del botón */
        padding: 12px 24px; /* Ajusta el padding para que el botón sea más grande */
        background-color: #3498db; /* Cambia el color de fondo del botón si es necesario */
        color: white; /* Cambia el color del texto del botón */
        border: none; /* Elimina el borde del botón si es necesario */
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    }

    .opcionReserva2 button.opcion1:hover,
    .opcionReserva3 button.opcion2:hover {
        background-color: #2980b9; /* Cambia el color de fondo del botón al pasar el cursor */
    }
    
}

@media (min-width: 1401px) {

    body{
        font-size: 24px;
    }

    /* Estilos para el texto del servicio */
    .servicio span {
        font-size: 24px; /* Aumento del tamaño de la letra */
    }

    .cabeza{
        margin-bottom: 20px;
    }
    .conteCarrousel {
        margin-bottom: 10px;
        height: 450px; /* Ajusta la altura del carrusel */
    }

    .itemCarrouselArrows i {
        font-size: 2em; /* Ajusta el tamaño de las flechas */
    }
    
    .conteCarrouselController > a {
        font-size: 2em; /* Ajusta el tamaño de los controladores */
    }

    .redes-sociales{
        justify-content: space-around;
    }

    .mapa {
        width: 20%;
    }

    .btnReservar button {
        padding: 5px 10px; /* Ajusta el relleno del botón según sea necesario */
        background-color: dodgerblue;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .opcionReserva2 button.opcion1,
    .opcionReserva3 button.opcion2 {
        font-size: 18px; /* Aumenta el tamaño del texto del botón */
        padding: 12px 24px; /* Ajusta el padding para que el botón sea más grande */
        background-color: #3498db; /* Cambia el color de fondo del botón si es necesario */
        color: white; /* Cambia el color del texto del botón */
        border: none; /* Elimina el borde del botón si es necesario */
        cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    }

    .opcionReserva2 button.opcion1:hover,
    .opcionReserva3 button.opcion2:hover {
        background-color: #2980b9; /* Cambia el color de fondo del botón al pasar el cursor */
    }

}

