/* Ajustes para el cuerpo */
body {
    font-size: 16px; /* Aumenta ligeramente el tamaño de la fuente para mejor legibilidad */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% de la altura de la ventana */
    height: 100vh;
}

/* Estilo del encabezado */
header {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; 
}

.iconoHome {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente los elementos */
    text-decoration: none; /* Asegura que el texto no tenga subrayado */
    color: rgb(211, 195, 185); /* Color del texto */
    font-size: 22px; /* Tamaño de fuente del texto */
    margin-left: 10px;
}

.iconoHome span {
    padding-top: 5px;
    color: rgb(211, 195, 185);
    font-size: 18px;
}

header, footer{
    background-color: rgb(0, 77, 64);
}

.tituloHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-right: 43.75px;
}

.tituloHeader img {
    width: 100px;
    height: 100%; /* Establecer la altura de la imagen al 100% del contenedor */
    margin: 0;
    padding: 0;
    padding-right: 10px; 
}

/* Estilos del formulario */
.form-content {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 0px auto;
    margin-top: 45px;
    margin-bottom: 45px;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-content h2 {
    text-align: center;
    color: rgb(0, 77, 64);
}

.form-content label {
    display: block;
    margin: 10px 0 5px;
    color: rgb(0, 77, 64);
}

form {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px); /* Ajusta el ancho del formulario restando los márgenes */
    margin: 20px; /* Añade un margen alrededor del formulario */
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: auto;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(0, 77, 64);
    border-radius: 5px;
}

#cantidad-noches{
    margin-bottom: 30px;
}

.form-content button {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 77, 64);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Ajustes para el pie de página */
footer {
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    margin-top: auto;
}

/* Estilo de la lista de redes sociales */
.redes-sociales {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    white-space: nowrap; /* Evita el salto de línea en los elementos */
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
}

.redes-sociales li {
    margin-top: 15px;
}

/* Ajustes para el primer y último elemento */
.redes-sociales li:first-child {
    margin-left: 10px; /* Margen izquierdo más pequeño para el primer elemento */
}

.redes-sociales li:last-child {
    margin-right: 10px; /* Margen derecho más pequeño para el último elemento */
}

.redes-sociales li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redes-sociales li i {
    font-size: 26px;
    margin-bottom: 5px;
}

.redes-sociales li span {
    font-size: 18px;
    color: rgb(211, 195, 185);
}

/* Colores específicos para los íconos sociales */
.redes-sociales li:nth-child(1) i {
    color: green;
}

.redes-sociales li:nth-child(2) i {
    color: red;
}

.redes-sociales li:nth-child(3) i {
    color: green;
}

.redes-sociales li:nth-child(4) i {
    color: blue;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 599px) {

}

@media (min-width: 600px) and (max-width: 1029px){

}

@media (min-width: 1200px){
    .redes-sociales{
        justify-content: space-around;
    }
}