<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Reserva</title>
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formulario.css') }}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://kit.fontawesome.com/adf6f04551.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
</head>
<body>

<header>
    <a href="{{ url_for('index') }}" class="iconoHome">
        <i class="fa-solid fa-house"></i>
        <span>Inicio</span>
    </a>
    <div class="tituloHeader">
        <img src="{{ url_for('static', filename='img/imgBethania/CASA_TAYRONA-removebg-preview.png') }}" alt="Casa Tayrona">
    </div>
</header>

<div class="form-content">

    <h2>Formulario de Reserva</h2>

    <form id="reservaForm" action="{{ url_for('formulario') }}" method="POST">

        <!-- Campos ocultos para pasar los parámetros -->
        <input type="hidden" name="destino" id="destino">
        <input type="hidden" name="habitaciones" id="habitaciones">
        <input type="hidden" name="precio" id="precio">

        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" required>
    
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido" required>
    
        <label for="email">Correo electrónico</label>
        <input type="email" name="email" id="email">
    
        <label for="telefono">Teléfono</label>
        <input type="text" name="telefono" id="telefono" required>

        <div class="form-group">
            <label for="fecha-entrada">Fecha de entrada</label>
            <input type="text" name="fecha-entrada" id="fecha-entrada" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="fecha-salida">Fecha de salida</label>
            <input type="text" name="fecha-salida" id="fecha-salida" class="form-control" required>
        </div>

        <label for="cantidad-huespedes">Cantidad de huéspedes</label>
        <input type="number" name="cantidad-huespedes" id="cantidad-huespedes" required>
    
        <button type="submit">Enviar Reserva</button>

    </form>
    
</div>

<!-- Script para obtener y establecer los parámetros de la URL -->
<script>
    window.onload = function() {
        // Obtener los parámetros de la URL
        const params = new URLSearchParams(window.location.search);
        const destino = params.get('destino');
        const habitaciones = params.get('habitaciones');
        const precio = params.get('precio');

        // Llenar los campos ocultos del formulario
        document.getElementById('destino').value = destino;
        document.getElementById('habitaciones').value = habitaciones;
        document.getElementById('precio').value = precio;

        // Manejar el envío del formulario
        document.getElementById('reservaForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Evitar el envío por defecto

            // Realizar la solicitud asíncrona
            const formData = new FormData(this);
            fetch(this.action, {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    alert('Su reserva ha sido realizada con éxito');
                    window.location.href = "{{ url_for('index') }}"; // Redirigir a la página de inicio
                } else {
                    alert('Hubo un problema al procesar su reserva');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Hubo un problema al procesar su reserva');
            });
        });
    }
</script>

<script>
    $(function() {
        $("#fecha-entrada, #fecha-salida").datepicker({
            dateFormat: 'yy-mm-dd',  // Formato de fecha
            minDate: 0,              // La fecha mínima es hoy
            maxDate: '+1y',          // La fecha máxima es dentro de un año
            changeMonth: true,       // Permitir cambio de mes
            changeYear: true,        // Permitir cambio de año
            showButtonPanel: true    // Mostrar botones de selección de mes y año
        });
    });
</script>

<footer>
    <ul class="redes-sociales">
        <li>
            <a href="tel:+573218292862">
                <i class="fas fa-phone"></i>
                <span>Llamar</span>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/casatayronahostal?igsh=djZ1MnBhcW4wdTRq" target="_blank">
                <i class="fab fa-instagram"></i>
                <span>Instagram</span>
            </a>
        </li>
        <li>
            <a href="https://wa.me/3218292862" target="_blank">
                <i class="fab fa-whatsapp"></i>
                <span>WhatsApp</span>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/profile.php?id=100094050537060" target="_blank">
                <i class="fab fa-facebook"></i>
                <span>Facebook</span>
            </a>
        </li>
    </ul>
</footer>

</body>
</html>
