<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa Tayrona Hostal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/adf6f04551.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header>
        <a href="{{ url_for('index') }}" class="iconoHome">
            <i class="fa-solid fa-house"></i>
            <span>Inicio</span>
        </a>
        <div class="tituloHeader">
            <img src="{{ url_for('static', filename='img/imgBethania/CASA_TAYRONA-removebg-preview.png') }}" alt="Casa Tayrona">
        </div>
    </header>
    
    <div class="contenido">
        <a href="{{ url_for('betania') }}" class="tarjeta">
            <div class="img-tarjeta">
                <img src="{{ url_for('static', filename='img/imgBethania/IMG-20240601-WA0000.jpg') }}" alt="Apartamento 1">
            </div>
            <div class="detalles-tarjeta">
                <h2>Apartamento Betania</h2>
                <h4>Detalles</h4>
                <p>
                    Situado a solo 1,9 km del centro histórico de Santa Marta, ofrece fácil acceso a las principales atracciones turísticas de la ciudad, así como a tiendas, restaurantes y servicios.
                </p>
                
                <h6>1 noche, max: 7 huéspedes</h6>
                <p><strong>180.000 COP</strong></p>
            </div>
        </a>
        
        <a href="{{ url_for('rodadero') }}" class="tarjeta">
            <div class="img-tarjeta">
                <img src="{{ url_for('static', filename='img/imgRodacho/IMG-20240601-WA0001.jpg') }}" alt="Apartamento 2">
            </div>
            <div class="detalles-tarjeta">
                <h2>Apartamento Rodadero</h2>
                <h4>Detalles</h4>
                <p>
                    ¡El apartamento perfecto en El Rodadero! Situado a poca distancia de la playa en Santa Marta, es ideal para quienes buscan disfrutar del sol, la arena y el mar.
                </p>
                
                <h6>1 noche, max: 5 adultos</h6>
                <p><strong>200.000 COP</strong></p>
            </div>
        </a> 
    </div>
    
    <footer>
        <ul class="redes-sociales">
            <li><a href="tel:+573218292862"><i class="fas fa-phone"></i><span>Llamar</span></a></li>
            <li><a href="https://www.instagram.com/casatayronahostal?igsh=djZ1MnBhcW4wdTRq" target="_blank"><i class="fab fa-instagram"></i><span>Instagram</span></a></li>
            <li><a href="https://wa.me/3218292862" target="_blank"><i class="fab fa-whatsapp"></i><span>WhatsApp</span></a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100094050537060" target="_blank"><i class="fab fa-facebook"></i><span>Facebook</span></a></li>
        </ul>
    </footer>
    
</body>
</html>
